.volumeDescription {
  font-weight: bold;
}

.progressBar:last-child {
  margin: 0 !important;
}

.assignmentList {
  margin-top: 5px !important;
}

.number {
  font-weight: bold;
}

.loadButton {
  width: 100%;
}