.controlBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@media only screen and (min-width: 768px) {
  .controlBar:last-child {
    padding-left: 0 !important;
  }

  .controlBar:first-child {
    padding-right: 0 !important;
  }
}

.controlBar > *:not(:last-child) {
  margin-bottom: .5rem;
}